<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }

     .alert-error {
           background: #ffcdd2;
           border: 1px solid #f44336;
           border-radius: 3px;
           color: #333;
           font-size: 14px;
           padding: 10px;
     }
   </style>

   <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
   <app-location route="{{route}}"></app-location>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <div hidden$="{{isLogged}}" class="container">
       <h1 class="col-md-12">Login Usuario</h1>

       <p>Ingresar tu usuario y contraseña para acceder al sistema</p>

         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login" >Login</button><br></br>
              <div hidden$="{{userFound}}">
                <p class="alert-error">{{error}}</p>
              </div>
           </div>
        </div>
     </div>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/techu/v2/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     >
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         },
         userFound:{
           type: Boolean,
           value: true
         },
           storedUser: Object,
           error:{
             type: String
           },
       };
     }

     login(e) {
       console.log("El usuario ha pulsado el botón login !");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };

       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }

     manageAJAXResponse(data) {
       this.idusu = data.detail.response.userid;
       if ( data.detail.response.userid!=undefined ) {
             this.isLogged = true;
             console.log('Usuario correcto!');
             this.storedUser = {
                  id: data.detail.response.userid,
                  name: data.detail.response.first_name,
                  path: 'http://localhost:3000/techu/v2/users',
                  loggedin: true,
                  admin : data.detail.response.admin
                };
             this.dispatchEvent(new CustomEvent('mgt', {detail:{idusu:this.idusu,
                                                        name:data.detail.response.first_name,
                                                        admin:data.detail.response.admin}}));
           } else {
             this.isLogged = false;
             this.userFound = false;
             console.log('Usuario no válido ###');
             this.error = data.detail.response.msg;
           }
           //this.dispatchEvent(new CustomEvent('loginOk', {detail:{idusu:this.idusu}}));

           console.log("idusu:" + this.idusu);

     }

     showError(error) {
       console.log("Hubo un error!");
       console.log(error);
    }


 }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
