<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

<dom-module id="cuenta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button {
              font-family: 'Roboto', 'Noto', sans-serif;
              font-weight: normal;
              font-size: 14px;
              -webkit-font-smoothing: antialiased;
              height: 25px;
          }
     paper-button.green:hover {
                  background-color: var(--paper-green-400);
          }
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
        }
      paper-button.green:hover {
              background-color: var(--paper-green-400);
          }
      paper-button.green:hover {
            background-color: var(--paper-green-400);
                    }
      paper-button.blue:hover {
            background-color: var(--paper-blue-400);
                }

      paper-button.blue {
            background-color: var(--paper-blue-500);
                color: white;
                }
                table,
            td,
            th {
                border: 1px solid #ddd;
                text-align: left;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                padding: 5px;
            }

            .text-right {
                text-align: right;
            }

            .hide {
                display: none;
            }

            .enlace {
              display:inline;
              border:0;
              padding:0;
              margin:0;
              background:none;
              color:#007bff;
              font-family: arial, sans-serif;
              font-size: 1em;
              line-height:1em;
            }

            .enlace:hover {
              text-decoration:none;
              color:#000088;
              cursor:pointer;
              text-decoration:underline;
            }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<table id="cuentas" class="table table-striped">
   <thead>
     <tr>
          <th>Nro de cuenta</th>
          <th>Saldo</th>
          <th>Ver Movimientos</th>
      </tr>
   </thead>
 <tbody>
          <template is="dom-repeat" items="[[accounts]]">
            <tr>
                <td>[[item.nroCuenta]]</td>
                <td>[[item.balance]]</td>
                <td>
                  <button  class="enlace" role="link" on-click="verMovimientos">Movimientos</button>
                </td>
          </tr>
          <tr id="movcta_[[item.accountId]]" class="hide">
            <td colspan="4">
            <table style="width:50% !important;">
                <thead>
                    <tr>
                        <th>Fecha Movimiento</th>
                        <th>Detalle</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{item.movAccount}}">
                        <tr>
                            <td>[[item.date]]</td>
                            <td>[[item.description]]</td>
                            <td class="text-right">S/ [[item.amount]].00</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
              </td>
          </tr>
          </template>
  </tbody>
</table>

    <iron-ajax
      auto
      id="getPerson"
      url="http://localhost:3000/techu/v2/users/{{userid}}/account_mov"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentaUsuario extends Polymer.Element {
      static get is() { return 'cuenta-usuario'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          userid: {
           type: Number,
           value: 0
         }
        };
      }

      showData(data) {
          console.log("showData");
          console.log(data.detail.response);
          this.accounts = data.detail.response;
        }

        verMovimientos (e) {
              var id = e.model.get('item.accountId');
              const element = this.shadowRoot.getElementById("movcta_" + id);
              console.log(this.shadowRoot.getElementById("movcta_" + id));
              element.classList.toggle("hide");
        }
    }

    window.customElements.define(CuentaUsuario.is, CuentaUsuario);
  </script>
</dom-module>
