<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../cuenta-usuario/cuenta-usuario.html">

<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        color:blue;
      }
    </style>

        <login-usuario on-loginOk="showAccounts"></login-usuario>

        <div hidden$="{{hasAccounts}}">
               <h1>Bienvenido a BBVA [[first_name]]</h1>
               <cuenta-usuario id="receiver"></cuenta-usuario>
        </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentePrincipal extends Polymer.Element {
      static get is() { return 'componente-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Miguel G'
          },
          anio: {
            type: String,
            value: '2020'
          },
          hasAccounts: {
            type: Boolean,
            value: true
          },
          first_name: {
            type: String
        }
      };
    }

          showAccounts(e) {
            this.$.receiver.userid = e.detail.idusu;
            //this.first_name = e.detail.name;
            console.log("entro:" + e.detail.idusu);
            this.hasAccounts = false;
          }

}
    window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
  </script>
</dom-module>
