<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

<dom-module id="lista-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button {
              font-family: 'Roboto', 'Noto', sans-serif;
              font-weight: normal;
              font-size: 14px;
              -webkit-font-smoothing: antialiased;
              height: 25px;
          }
     paper-button.green:hover {
                  background-color: var(--paper-green-400);
          }
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
        }
      paper-button.green:hover {
              background-color: var(--paper-green-400);
          }
      paper-button.green:hover {
            background-color: var(--paper-green-400);
                    }
      paper-button.blue:hover {
            background-color: var(--paper-blue-400);
                }

      paper-button.blue {
            background-color: var(--paper-blue-500);
                color: white;
                }
                table,
            td,
            th {
                border: 1px solid #ddd;
                text-align: left;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                padding: 5px;
            }

            .text-right {
                text-align: right;
            }

            .hide {
                display: none;
            }

            .enlace {
              display:inline;
              border:0;
              padding:0;
              margin:0;
              background:none;
              color:#007bff;
              font-family: arial, sans-serif;
              font-size: 1em;
              line-height:1em;
            }

            .enlace:hover {
              text-decoration:none;
              color:#000088;
              cursor:pointer;
              text-decoration:underline;
            }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
<button  class="enlace" role="link" on-click="_generateRequest">...</button>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<table class="table table-striped">
   <thead>
     <tr>
          <th>Codigo Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Eliminar</th>
      </tr>
   </thead>
 <tbody>
          <template is="dom-repeat" items="[[users]]">
            <tr>
                <td>[[item.userid]]</td>
                <td>[[item.first_name]]</td>
                <td>[[item.last_name]]</td>
                <td>[[item.email]]</td>
                <td>
                  <a name="not-found" href="#" on-tap="eliminarUsuario">
                    <button  class="enlace" role="link" on-click="eliminar">Eliminar</button>
                  </a>
                </td>
          </tr>
          </template>
  </tbody>
</table>

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/techu/v2/users"
      handle-as="json"
      on-response="showData"
    >

    <iron-ajax
      auto
      method="delete"
      id="deleteUser"
      handle-as="json"
      on-response="handleUserResponse"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListaUsuario extends Polymer.Element {
      static get is() { return 'lista-usuario'; }
      static get properties() {
        return {
          users: {
            type: Array
          },
          userid: {
           type: Number,
           value: 0
         }
        };
      }

      eliminar (e) {
          if (window.confirm("Está seguro de eliminar el registro?")) {
            const id = e.model.get('item.userid');
            console.log("Eliminar:" + id);
            this.$.deleteUser.url = 'http://localhost:3000/techu/v2/users/' + id;
            this.$.deleteUser.generateRequest();
          }
        }

      handleUserResponse(data) {
                var response = data.detail.response;
                this.$.getUser.generateRequest();
              }
      _generateRequest(){
        this.$.getUser.generateRequest();
      }

      showData(data) {
          console.log("showData");
          console.log(data.detail.response);
          this.users = data.detail.response;
        }

    }

    window.customElements.define(ListaUsuario.is, ListaUsuario);
  </script>
</dom-module>
