<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="registra-usuario">
  <template>
    <style>
    :host {
      display: block;
      font-family: Helvetica;
    }
    .container{
     width: 100%;
     max-width: 600px;
     margin: 0 auto;
     padding: 100px 0;
     top:100px;
    }
    .col-md-12{
     font-family: Helvetica;
     color: white;
     }
    .btn-primary{
      background: #0b8585!important;
    }

    .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div class="container">
      <div class="card" style="width: 30rem;" alt="Responsive card">
        <div class="card-body">

          <div class="form-group">
            <label for="exampleInputFirstName">Nombre</label>
            <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter Nombre"
            value="{{first_name::input}}">
          </div>

          <div class="form-group">
            <label for="exampleInputLastName">Apellido</label>
            <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter Apellido"
            value="{{last_name::input}}">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
            value="{{email::input}}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
            value="{{password::input}}">
          </div>
          <button  class="btn btn-primary" on-click="registrar">Registrar</button><br></br>
           <div hidden$="{{userFound}}">
             <p class="alert-error">erro mgt</p>
           </div>
        </div>
     </div>
  </div>

<iron-ajax
  id="doRegister"
  url="http://localhost:3000/techu/v2/users"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistraUsuario extends Polymer.Element {
      static get is() { return 'registra-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          },
          idusu:{
            type: String
          },
          userFound:{
            type: Boolean,
            value: true
          },
          formData: {
                        type: Object,
                        value: {}
            }
        };

      }

           registrar(e) {
             if (window.confirm("Está seguro Guardar Cambios?")) {
             console.log("El usuario ha pulsado el botón Registrar !");
             var RegisterData = {
               "first_name" : this.first_name,
               "last_name" : this.last_name,
               "email" : this.email,
               "password" : this.password
             };
             this.$.doRegister.body = JSON.stringify(RegisterData);
             this.$.doRegister.generateRequest();
           }
         }

         manageAJAXResponse(data) {
           this.idusu = data.detail.response.userid;
           if ( data.detail.response.userid!=undefined ) {
                 this.isLogged = true;
                 this.first_name = '';
                 this.last_name = '';
                 this.email = '';
                 this.password = '';
                 console.log('Registro correcto!');
                 this.dispatchEvent(new CustomEvent('postUser', {detail:{idusu:this.idusu}}));
               } else {
                 this.isLogged = false;
                 this.userFound = false;
                 console.log('Error');
               }
               //this.dispatchEvent(new CustomEvent('loginOk', {detail:{idusu:this.idusu}}));

               console.log("idusu:" + this.idusu);
         }

  }


    window.customElements.define(RegistraUsuario.is,RegistraUsuario);
  </script>
</dom-module>
