<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../cuenta-usuario/cuenta-usuario.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="mgt-comp">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button {
              background: #f44336;
              color: #fff;
              font-weight: bold;
      }

      app-header .greeting {
    border-right: 1px solid rgba(255, 255, 255, .5);
    display: inline-block;
    padding-right: 6px;
  }

        .enlace {
          display:inline;
          border:0;
          padding:0;
          margin:0;
          text-decoration:underline;
          background:none;
          color:#007bff;
          font-family: arial, sans-serif;
          font-size: 1em;
          line-height:1em;
        }

        .enlace:hover {
          text-decoration:none;
          color:#000088;
          cursor:pointer;
        }

    </style>


    <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>


     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>


            <login-usuario on-mgt="showMgt"></login-usuario>

  <table class="table table-striped">
     <thead>
     </thead>
   <tbody>
              <tr>
                  <td>
                    <div>

                          <template is="dom-if" if="[[hasLogin]]">
                              <p>
                                  <template is="dom-if" if="[[hasAdmin]]">
                                                <a name="not-found" href="#" on-tap="">
                                                    <button  class="enlace" role="link" on-click="listaUsuario">Lista de Usuarios</button>
                                                </a>
                                </template>
                              </p>
                              <p>
                                <button  class="enlace" role="link" on-click="cuentas">Cuentas y Movimientos</button>
                              </p>
                              <p>
                                <button  class="enlace" role="link" on-click="logout">Cerrar Sesion</button>
                              </p>

                          </template>
                    </div>
                  </td>
                  <td>
                        <div hidden$="[[!hasNewUser]]">
                               <h1>Registro de Usuario</h1>
                               <registra-usuario on-postUser="refresUser"></registra-usuario>
                        </div>

                        <div hidden$="[[!hasAccounts]]">
                               <h1>Cuentas y Movimientos: [[name]]</h1>
                               <cuenta-usuario id="receiver"></cuenta-usuario>
                        </div>

                        <div hidden$="[[!hasUsers]]">
                               <h1>Lista de Usuarios </h1>
                               <button  class="enlace" role="link" on-click="newUser">Nuevo Usuario</button>
                               <lista-usuario id="receiverListaUser"></lista-usuario>
                        </div>
                  </td>
            </tr>
            </template>
    </tbody>
  </table>

  <iron-ajax
    id="doLogout"
    url="http://localhost:3000/techu/v2/logout"
    content-type="application/json"
    method="POST"
    handle-as="json"
    on-response="manageAJAXResponse"
    >

</template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class MgtComp extends Polymer.Element {
      static get is() { return 'mgt-comp'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          name: {
            type: String
          },
          hasAccounts: {
            type: Boolean,
            value: false
          },
          hasUsers: {
            type: Boolean,
            value: false
          },
          hasLogin: {
            type: Boolean,
            value: false
          },
          hasAdmin: {
            type: Boolean,
            value: false
          },
          hasNewUser: {
            type: Boolean,
            value: false
          },
          storedUser: Object
        }
        ;
      }

      logout () {
        this.isLogged = false;
        location.href = "/";
        this.storedUser = null;
      }

      showMgt(e){
          console.log("evento de compr");
          this.hasLogin = true;
          this.hasAdmin = e.detail.admin;
          this.name = e.detail.name;
          this.$.receiver.userid = e.detail.idusu;
        }

        listaUsuario (e) {
              this.hasUsers = true;
              this.hasAccounts = false;
              this.hasNewUser = false;
          }
        refresUser (e) {
            console.log("evento post nuevo usuario");
            this.hasNewUser = false;
            this.$.receiverListaUser.getUser.generateRequest();
          }
        cuentas (e) {
                this.hasUsers = false;
                this.hasAccounts = true;
                this.hasNewUser = false;
            }
        newUser (e) {
                this.hasNewUser = true;
        }

        setInterval(){
              this.$$("iron-localstorage").reload();
            }
    }

    window.customElements.define(MgtComp.is, MgtComp);
  </script>
</dom-module>
